@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-border: hsl(var(--border));
    --color-input: hsl(var(--input));
    --color-ring: hsl(var(--ring));
    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));
    --color-primary: hsl(var(--primary));
    --color-primary-foreground: hsl(var(--primary-foreground));
    --color-secondary: hsl(var(--secondary));
    --color-secondary-foreground: hsl(var(--secondary-foreground));
    --color-destructive: hsl(var(--destructive));
    --color-destructive-foreground: hsl(var(--destructive-foreground));
    --color-muted: hsl(var(--muted));
    --color-muted-foreground: hsl(var(--muted-foreground));
    --color-accent: hsl(var(--accent));
    --color-accent-foreground: hsl(var(--accent-foreground));
    --color-popover: hsl(var(--popover));
    --color-popover-foreground: hsl(var(--popover-foreground));
    --color-card: hsl(var(--card));
    --color-card-foreground: hsl(var(--card-foreground));
}

@layer components {
    .inputStyles {
        @apply bg-transparent appearance-none border border-gray-300 dark:border-gray-800 
        rounded w-full py-2 px-3 text-gray-700 dark:text-gray-500 outline-none focus:ring-1 
        ring-blue-500 dark:placeholder:text-gray-700;
    }

    .labelStyles {
        @apply block text-gray-700 dark:text-gray-400 text-sm md:text-base mb-2;
    }

}